page-comment {
    .campaign {
        margin-bottom: 50px;
    }

    .campaign-comment {
        border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
        padding: 5px;
    }

    .comment-action {
        font-size: 10px;
        color: grey;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .comment-action img.button-icon {
        width: 18px;
    }

    .comment-action img.button-icon.thumb-down {
        margin-top: 5px;
    }

    .comment-action img.button-icon:not(:first-child), .comment-action img.button-icon:not(:first-child) {
        margin-left: 10px;
    }

    .count {
        margin-left: 5px;
    }

    .timeline-comment {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 99;
        border-top: 1px solid rgba($color: grey, $alpha: 0.1);
        font-size: 12px;
        // color: lightgray;
    }

    .timeline-comment .comment-child:nth-child(1), .timeline-comment .comment-child:nth-child(3) {
        text-align: center;
    }

    .timeline-comment #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }
}
