<!--
  Generated template for the FindPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="toggleSort()" ion-button icon-only>
        <ion-icon class="custom-icon" name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar text-center placeholder="Cari nama" [(ngModel)]="keyword" [showCancelButton]="shouldShowCancel" (ionInput)="showInput()"
      (ionCancel)="showInput()">
    </ion-searchbar>
    <ion-buttons right>
      <button (click)="search()" ion-button icon-only>
        <ion-icon class="custom-icon" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- <ion-row no-padding no-margin class="w100 dIF">
    <ion-col no-padding col-12 class="dIF find-content aiCenter" text-center>
      <ion-col col-4 no-padding class="box">
        <img src="../../assets/imgs/pulau/Kalimantan.png" width="50px" height="50px">
        <p no-padding no-margin>Bali</p>
      </ion-col>
      <ion-col col-4 no-padding class="box">
        <img src="../../assets/imgs/pulau/Jawa.png" width="50px" height="50px">
        <p no-padding no-margin>Jawa</p>
      </ion-col>
      <ion-col col-4 no-padding class="box">
        <img src="../../assets/imgs/pulau/Maluku.png" width="50px" height="50px">
        <p no-padding no-margin>Maluku</p>
      </ion-col>
      <ion-col col-4 no-padding class="box">
        <img src="../../assets/imgs/pulau/Kalimantan.png" width="50px" height="50px">
        <p no-padding no-margin>Bali</p>
      </ion-col>
      <ion-col col-4 no-padding class="box">
        <img src="../../assets/imgs/pulau/Jawa.png" width="50px" height="50px">
        <p no-padding no-margin>Jawa</p>
      </ion-col>
      <ion-col col-4 no-padding class="box">
        <img src="../../assets/imgs/pulau/Maluku.png" width="50px" height="50px">
        <p no-padding no-margin>Maluku</p>
      </ion-col>
    </ion-col>
  </ion-row> -->

  <div class="square-container">
    <div *ngIf="sort == 'daerah'">
      <div *ngFor="let pulau of pulauList; let i= index" class="square aiCenter" text-center>
        <div class="content-pulau" (click)="chooseRegion(pulau.nama)">
          <img src="{{pulau.src}}">
          <p no-padding no-margin>{{pulau.nama}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="sort == 'partai'">
      <div *ngFor="let partai of partaiList; let i= index" class="square aiCenter" text-center>
        <div class="content-partai" (click)="choosePartai(partai.nomor)">
          <img src="{{partai.src}}">
          <p no-padding no-margin>{{partai.nomor}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="sort == 'nama'">
      <div *ngFor="let caleg of calegList; let i= index" class="square aiCenter" text-center>
        <div class="content-caleg" (click)="chooseCaleg(caleg.nomor)">
          <img src="{{caleg.src}}" class="rounded-image">
          <p no-padding no-margin class="top-left">{{caleg.nomor}}</p>
          <p no-padding no-margin class="middle">{{caleg.nama}}</p>
          <p no-padding no-margin class="middle">{{caleg.partai}}</p>
          <p no-padding no-margin class="middle">{{caleg.dapil}}</p>
        </div>
      </div>
    </div>

    <!-- <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/Kalimantan.png">
        <p no-padding no-margin>Kalimantan</p>
      </div>
    </div>

    <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/Jawa.png">
        <p no-padding no-margin>Jawa</p>
      </div>
    </div>

    <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/Sulawesi.png">
        <p no-padding no-margin>Sulawesi</p>
      </div>
    </div>

    <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/Bali.png">
        <p no-padding no-margin>Bali</p>
      </div>
    </div>

    <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/NusaTenggara.png">
        <p no-padding no-margin>Nusa Tenggara</p>
      </div>
    </div>

    <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/Maluku.png">
        <p no-padding no-margin>Maluku</p>
      </div>
    </div>

    <div class="square aiCenter" text-center>
      <div class="content-pulau">
        <img src="../../assets/imgs/pulau/Papua.png">
        <p no-padding no-margin>Papua</p>
      </div>
    </div> -->
  </div>
</ion-content>

<!-- Tab -->
<ion-row no-padding no-margin class="w100">
  <ion-col no-padding col-12 class="dIF find-tab aiCenter">
    <ion-col (click)="setActiveTab('dapil', $event)" col-4 text-center [class]="tabDapil">
      {{filterDapil}}
    </ion-col>
    <ion-col (click)="setActiveTab('partai', $event)" col-4 text-center [class]="tabPartai">
      {{filterPartai}}
    </ion-col>
    <ion-col (click)="setActiveTab('nomor', $event)" col-4 text-center [class]="tabNomor">
      {{filterLain}}
    </ion-col>
  </ion-col>

  <!-- This is sort panel -->
  <ion-col *ngIf="isChangeSort == true" no-padding col-12 class="w100 find-sort aiCenter">
    <ion-col (click)="changeSort('daerah')" col-12 class="sort-child">
      <p *ngIf="sort == 'daerah'" id="sort-populer" no-padding no-margin style="color: orangered">Daerah</p>
      <p *ngIf="sort != 'daerah'" id="sort-populer" no-padding no-margin>Daerah</p>
    </ion-col>
    <ion-col (click)="changeSort('partai')" col-12 class="sort-child">
      <p *ngIf="sort == 'partai'" id="sort-populer" no-padding no-margin style="color: orangered">Partai</p>
      <p *ngIf="sort != 'partai'" id="sort-populer" no-padding no-margin>Partai</p>
    </ion-col>
    <ion-col (click)="changeSort('nama')" col-12 class="sort-child">
      <p *ngIf="sort == 'nama'" id="sort-populer" no-padding no-margin style="color: orangered">Nama</p>
      <p *ngIf="sort != 'nama'" id="sort-populer" no-padding no-margin>Nama</p>
    </ion-col>
  </ion-col>
</ion-row>