page-timeline {
    .timeline {
        height: 470px;
        max-height: 470px;
    }

    .timeline-title {
        background-color: white;
        height: 45px;
        font-size: 12px;
    }

    .timeline-title .title-info:nth-child(1) {
        text-align: center;
        align-items: center;
        vertical-align: middle;
    }

    .timeline-title .title-info:last-child {
        float: right;
    }

    .timeline-image {
        background-color: white;
        height: 250px;
    }

    .timeline-button {
        padding: 5px 10px 10px 10px;
        background-color: white;
        height: 30px;
        border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
    }

    .timeline-button img.button-icon {
        width: 18px;
    }

    .timeline-button img.button-icon:not(:first-child), .timeline-button img.button-icon:not(:first-child) {
        margin-left: 10px;
    }

    .timeline-button img.button-icon:last-child {
        float: right;
    }

    .timeline-total-like {
        padding: 5px 10px;
        // background-color: green;
        height: 30px;
    }

    .timeline-description {
        padding: 5px 10px;
        // background-color: green;
        max-height: 75px;
        margin-bottom: 5px;
    }

    .timeline-comment {
        height: 40px;
    }

    .timeline-comment .comment-child:nth-child(1) {
        text-align: center;
    }

    .timeline-comment .comment-child:nth-child(2) p {
        font-size: 11px;
        color: lightgray;
    }

    .fab[mini] {
        margin: 8px;
        width: 45px;
        height: 45px;
        line-height: 60px;
    }

    button.fab ion-icon {
        zoom:1.3;
    }

    .timeline-sort {
        position: absolute;
        top: 0px;
        background-color: white;
        z-index: 99;
        font-size: 12px;
        display: inline-grid;
    }

    .timeline-sort .sort-child {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
    }
}
