page-login {

}
.app-second-title{
    margin-top: -4em!important;
}
.p{
    font-size: 15px;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #999;
    margin-left: 1em;
}