// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.w100 {
  width: 100%;
}

.dIF {
  display: inline-flex;
}

.aiCenter {
  align-items: center;
}

p {
  font-size: 13px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

// form style
.form .grey-form {
  background-color: #eeeeee;
  color: #828282;
}
.input-field {
  padding: 0%;
  border-radius: 4px;
}
.item-ios.item-block .item-inner{
    border-bottom: transparent;
    padding: 0 15px;
    // margin-bottom: 10px;
}

.toolbar-background {
  background-color: white;
}

.rounded-image {
  object-fit: cover;
  border-radius: 50%;
}

.item-ios, .item-md {
  padding-left: 0;
  margin-bottom: 20px!important;
}
.item-ios.item-block .item-inner, .item-md.item-block .item-inner {
  padding-right: 0px;
}
.button-outline-ios, .button-outline-md {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  color: #0f0f0f;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// Item 
.notification-item {
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
  padding: 5px;
}

// Top Bar Setting
.custom-icon {
  color: red;
}

.badge-circle-red {
  // display: inline-block;
  color: white;
  background-color: red;
  // border-radius: 100%;
  // font-size: 14px;
  // font-weight: bolder;
  // align-items: center;
  position: absolute;
   top: -3px;
   right: -3px;
}

// Tabs Setting
.tabs .tabbar {
  background-color: #fff;
}

.tabs-md .tab-button-icon,
.tabs-ios .tab-button-icon {
  color: grey !important;
}

.tabs-md .tab-button[aria-selected="true"] .tab-button-icon,
.tabs-ios .tab-button[aria-selected="true"] .tab-button-icon {
  color: red !important;
}

.tabs-md .tab-button,
.tabs-ios .tab-button {
  color: grey !important;
}

.tabs-md .tab-button[aria-selected="true"],
.tabs-ios .tab-button[aria-selected="true"] {
  color: red !important;
}
