// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.w100{
    width:100%;
}

.dIF{
    display: inline-flex;
}

.aiCenter{
    align-items: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.form .grey-form {
    padding: 10px 5px;
    background-color: #eeeeee;
    color: #828282;
}

.app-header {
    // min-width: 56px;
    // padding-bottom: 0px;
    // height: 200px;
}

.app-header .app-header-button {
    margin-top:1%;
}

.app-header .app-header-icon {
    font-size:3.6rem;
    color: #a3a1a0;
}

.app-course-title {
    margin-right:4%;
    color:#333;
    font-weight: bold;
    font-size: 28px;
}