page-detail-user {
    #history-list p {
        font-size: 12px;
        word-break: break-all;
        white-space: normal;
        width: 100%;
    }

    .detail-profile {
        margin-top: 5%;
        vertical-align: middle;
    }

    .detail-profile h6, .detail-profile input {
        margin-top: 2%;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }

    .profile-item {
        margin-top: 5%;
        padding: 10px 10px 10px 10px;
        border-top: 1px solid rgba($color: grey, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
    }

    .profile-item p{
        font-size: 10px;
    }

    .floating-button-edit {
        position: absolute;
        top: -10px;
        left: -145px;
    }

    .floating-button-edit p, .floating-button-save p {
        font-size: 11px;
    }

    .floating-button-save {
        position: absolute;
        top: -10px;
        left: -145px;
    }

    .item[no-lines].bottom-border { 
        // border-top: 1px solid rgba($color: grey, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
    }

    span.caption {
        font-weight: bold;
        font-size: 12;
    }

    .qa-content {
        padding-top: 2% !important;
        padding-bottom: 2%;
    }

    // .circle {
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 50%;
    //     font-size: 30px;
    //     color: #fff;
    //     line-height: 80px;
    //     text-align: center;
    //     background: #2980b9;
    // }
}
