<!--
  Generated template for the DetailUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon class="custom-icon" name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>INFORMASI</ion-title>
    <ion-buttons right>
      <button (click)="goToNotification()" ion-button icon-only>
        <ion-icon class="custom-icon" name="notifications-outline"></ion-icon>
        <ion-badge class="badge-circle-red">{{notification_total}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-row style="margin-bottom: 20%" class="detail-profile">
    <ion-col col-12 text-center style="position: relative;">
      <ion-col *ngIf="isEdit == false" class="floating-button-edit" (click)="openEdit()">
        <img no-padding src="../../assets/imgs/icon/config.png" width="8%">
        <p no-margin>Edit Profil</p>
      </ion-col>

      <ion-col *ngIf="isEdit == true" class="floating-button-save" (click)="edit()">
        <img no-padding src="../../assets/imgs/icon/save.png" width="8%">
        <p no-margin>Simpan</p>
      </ion-col>

      <ion-col class="floating-button-exit" (click)="logout()">
        <img no-padding src="../../assets/imgs/icon/exit.png" width="8%">
        <p no-margin>Keluar</p>
      </ion-col>

      <ion-col col-12 no-padding>
        <ion-col col-12 no-padding class="dIf aiCenter">
          <img no-padding (click)="showGetImageOption()" [src]="profileImage" width="90px" height="90px" class="rounded-image profile">
          <!-- <img *ngIf="profileImage != null" no-padding src="http://18.182.255.183/api/getprofile/{{profileImage}}?token={{token}}"
            width="90px" height="90px" class="rounded-image"> -->
        </ion-col>
        <ion-col col-12 no-padding>
          <h6 *ngIf="isEdit == false" no-margin>{{profileName}}</h6>
        </ion-col>
        <ion-col col-12 no-padding>
          <input *ngIf="isEdit == true" no-margin [(ngModel)]="profileName" style="font-size: 16px;font-weight:500">
        </ion-col>
      </ion-col>
      <!-- <ion-col text-center>
        <div text-center class="circle">D</div>
      </ion-col> -->
    </ion-col>

    <ion-row no-padding text-center class="profile-item dIf aiCenter">
      <ion-col col-3 col-md-3>
        <img no-padding src="../../assets/imgs/icon/thumb-up-active.png" width="30%">
        <!-- <ion-icon name="ios-thumbs-up" [style.color]="'#2980b9'" style="zoom:2.0;"></ion-icon> -->
        <p no-margin>{{totalCommentLike}}
          <br>Disukai</p>
      </ion-col>
      <ion-col col-3 col-md-3>
        <img no-padding src="../../assets/imgs/icon/thumb-down-active.png" width="30%">
        <!-- <ion-icon name="ios-thumbs-down" [style.color]="'#2980b9'" style="zoom:2.0;"></ion-icon> -->
        <p no-margin>{{totalCommentDislike}}
          <br>Tidak Suka</p>
      </ion-col>
      <ion-col col-3 col-md-3>
        <img no-padding src="../../assets/imgs/icon/comment.png" width="30%">
        <!-- <ion-icon name="ios-text-outline" style="zoom:2.0;"></ion-icon> -->
        <p no-margin>{{totalComment}}
          <br>Komentar</p>
      </ion-col>
      <ion-col col-3 col-md-3>
        <img no-padding src="../../assets/imgs/icon/share.png" width="30%">
        <!-- <ion-icon name="ios-send-outline" style="zoom:2.0;"></ion-icon> -->
        <p no-margin>20
          <br>Dibagikan</p>
      </ion-col>
    </ion-row>

    <ion-row no-padding style="margin-top: 5px" class="w100">
      <!-- This is campaign description -->
      <ion-col *ngFor="let comment of comments; let i= index" col-12 no-padding class="w100 notification-item dIF">
        <ion-col col-2 col-md-2 class="aiCenter" text-center>
          <img *ngIf="comment.gambar_pengguna == null" no-padding no-margin src="../../assets/imgs/logo.png" width="50px" height="50px"
            class="rounded-image">
          <img *ngIf="comment.gambar_pengguna != null" no-padding no-margin src="{{apiUrl}}/getprofile/{{comment.gambar_pengguna}}?token={{token}}"
            width="50px" height="50px" class="rounded-image">
        </ion-col>
        <ion-col col-10 col-md-10>
          <p no-padding no-margin>
            <b>{{comment.nama_pengguna}} </b>{{comment.komentar}}
          </p>
        </ion-col>
      </ion-col>

      <!-- <ion-list id="history-list">
        <ion-item no-lines class="bottom-border" *ngFor="let comment of comments;">
          <ion-row class="w100" no-padding>
            <ion-col col-2 col-md-2 no-padding>
              <img *ngIf="profileImage == null" no-padding src="../../assets/imgs/logo.png" width="90px" height="90px" class="rounded-image">
              <img no-padding [src]="profileImage" width="50px" height="50px" class="rounded-image">
            </ion-col>
            <ion-col col-10 col-md-10 no-padding>
              <p>
                <span class="caption">{{comment.nama_pengguna}}</span> {{comment.komentar}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list> -->
    </ion-row>
  </ion-row>
</ion-content>